body, html {
    height: 100%;
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 768px) {
    h1 {
        text-align: center;
        font-size:30px;
    }
}

p,span {
    font-size: 1.2em;
    color: white
}

.big {
    border:0.5px solid #b4d8d2; 
    padding:5%;
}

.small {
    text-decoration: underline;
}