body, html {
    height: 100%;
    background: #267871;  /* fallback for old browsers */
}

@media screen and (max-width: 768px) {
    h1 {
        text-align: center;
        font-size:30px;
    }
}

p, span {
    font-size: 1.2rem;
}

a {
    border:0.5px solid #b4d8d2; 
    padding:5%;
}